{{ define "main" }}
{{ $image := index (.Resources.ByType "image") 0 }}
{{ $title := $image.RelPermalink | path.BaseName }}

<div class="gallery-title">
    <h1>{{ $title }}</h1>
</div>

{{ $image640 := $image.Resize "640x" }}
<div class="gallery-img">
    <picture>
        <source srcset="{{ $image640.RelPermalink }}" media="(max-width: 320px)">
        <img src="{{ safeURL $image.RelPermalink }}" alt="{{ $title }}" title="{{ $title }}">
    </picture>
</div>

<a class="gallery-fullres" href="{{ $image.RelPermalink }}">Full Res</a>

<div class="gallery-content" >
    {{ .Content }}
</div>

{{ with .Params.Metadata }}
<table class="gallery-metadata">
    {{ range $key, $val := . }}
    <tr>
        <td>{{ $key | humanize }}</td>
        <td>{{ $val }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}
{{ end }}
