{{ define "main" }}
<div class="gallery-title">
    <h1>{{ .Title }}</h1>
</div>
{{ if .Description }}
    <div class="gallery-subtitle">
        <h2>{{ .Description }}</h2>
    </div>
{{ end }}

{{ if gt (len (.Resources.ByType "image")) 1 }}
    <div class="gallery-imgset">
    {{ range $k, $image := (.Resources.ByType "image") }}
        {{ $image640 := $image.Resize "640x q80" }}
        <div class="gallery-img">
            <picture class="gallery-picture">
                <source srcset="{{ $image640.RelPermalink }}" media="(max-width: 320px)">
                <img decoding="async" src="{{ safeURL $image640.RelPermalink }}" alt="{{ $.Title }}{{ if $.Description }} -- {{ $.Description }}{{ end }}" title="{{ $.Title }}{{ if $.Description }} -- {{ $.Description }}{{ end }}" >
            </picture>
            <a class="gallery-fullres" href="{{ $image.RelPermalink }}">Full Res</a>
        </div>
    {{ end }}
    </div>
{{ else }}
    {{ $image := index (.Resources.ByType "image") 0 }}
    {{ $image800 := $image.Resize "800x q80" }}
    <div class="gallery-imgset">
        <div class="gallery-img">
            <picture class="gallery-picture">
                <source srcset="{{ $image800.RelPermalink }}" media="(max-width: 320px)">
                <img decoding="async" src="{{ safeURL $image800.RelPermalink }}" alt="{{ .Title }}{{ if .Description }} -- {{ .Description }}{{ end }}" title="{{ .Title }}{{ if .Description }} -- {{ .Description }}{{ end }}" >
            </picture>
            <a class="gallery-fullres" href="{{ $image.RelPermalink }}">Full Res</a>
        </div>
    </div>
{{ end }}

<div class="gallery-content" >
    {{ .Content }}
</div>

{{ with .Params.Metadata }}
<table class="gallery-metadata">
    {{ range $key, $val := . }}
    <tr>
        {{ if $.Params.sortKeys }}
            <td>{{ substr $key 3 | humanize }}</td>
        {{ else }}
            <td>{{ $key | humanize }}</td>
        {{ end }}
        <td>{{ $val }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}
{{ end }}
