{{ define "main" }}
{{- if .Params }}
<header class="post-meta">
    <h1 class="post-title">{{ .Title }}{{- if .Draft }}&nbsp;[draft]{{- end }}</h1>
    {{ with .Params.Description }}
    <p class="post-meta-desc">
        {{ . }}
    </p>
    {{ end }}
    {{ $lastmod := .Lastmod.Format "2006.01.02 15:04" }}
    <!-- {{ $date := .Date.Format "2006.01.02 15:04" }}
    <time class="post-meta-date" datetime="{{ .Date.Format "2006-01-02 15:04" }}">pub. {{ .Date.Format "2006-01-02" }}</time>
    {{ if ne $lastmod $date }}
    <span aria-hidden="true">//</span> -->
    <time class="post-meta-date" datetime="{{ .Lastmod.Format "2006-01-02 15:04" }}">ed. {{ .Lastmod.Format "2006-01-02" }}</time>
    <!-- {{ end }} -->
</header>
{{- end }}
<div class="main-content">
    {{ .Content }}
</div>
{{ end -}}
