{{ define "main" }}
<div class="page-list-title">
    <h1>{{ .Page.Title }}</h1>
</div>
{{ .Content }}

<nav class="gallery-list">
    {{ range sort .Data.Pages "Description" "asc" }}
    {{ if not .Params.private }}
    {{ $image := index (.Resources.ByType "image") 0 }}
    {{ $image := $image.Resize "320x" }}
    <div class="gallery-list-entry">
        <a href="{{ .RelPermalink }}"><img loading="lazy" src="{{ safeURL $image.RelPermalink }}" alt="{{ .Title }} -- {{ .Description }}" title="{{ .Title }} -- {{ .Description }}"/></a>
        <a href="{{ .RelPermalink }}" class="album-art-label"><h2>{{ .Title }}</h2></a>
        {{ .Description }}
    </div>
    {{ end }}
    {{ end }}
</nav>
{{ end }}
