{{ define "main" }}
<div class="gallery-title">
    <h1>{{ .Title }}</h1>
</div>
<div class="gallery-subtitle">
    <h2>{{ .Description }}</h2>
</div>

{{ $image := index (.Resources.ByType "image") 0 }}
{{ $image320 := $image.Resize "320x" }}
{{ $image640 := $image.Resize "640x" }}
<div class="gallery-img">
    <picture>
        <source srcset="{{ $image.RelPermalink }}" media="(min-width: 1000px)">
        <source srcset="{{ $image640.RelPermalink }}" media="(min-width: 640px)">
        <img src="{{ safeURL $image320.RelPermalink }}" alt="{{ .Title }} -- {{ .Description }}" title="{{ .Title }} -- {{ .Description }}" >
    </picture>
</div>

<a class="gallery-fullres" href="{{ $image.RelPermalink }}">Full Res</a>

<div class="gallery-content" >
    {{ .Content }}
</div>

{{ with .Params.Metadata }}
<table class="gallery-metadata">
    {{ range $key, $val := . }}
    <tr>
        <td>{{ $key }}</td>
        <td>{{ $val }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}
{{ end }}
