{{ define "main" }}
<div class="post-title">
    <h1>{{ .Title }}{{- if .Draft }}&nbsp;[draft]{{- end }}</h1>
</div>
<div class="post-meta">
    <div class="post-meta-date">
        {{ .PublishDate.Format "2 Jan 2006" }}
    </div>
    {{ with .Params.Description }}
    <span aria-hidden="true">//</span>
    <div class="post-meta-desc">
        {{ . }}
    </div>
    {{ end }}
</div>
{{- if (.Param "ShowToc") }}
{{- partial "toc.html" . }}
{{- end }}
<div class="post-content" >
    {{ partial "anchored_headings" .Content }}
</div>
{{ end }}
