{{ define "main" }}
<header class="post-meta">
    <h1 class="post-title">{{ .Title }}{{- if .Draft }}&nbsp;[draft]{{- end }}</h1>
    <time class="post-meta-date" datetime="{{ .PublishDate.Format "2006-01-02 15:04" }}">{{ .PublishDate.Format "2 Jan 2006" }}</time>
    {{ with .Params.Description }}
    <span aria-hidden="true">//</span>
    <div class="post-meta-desc">
        {{ . }}
    </div>
    <div class="post-meta-words">{{ math.Round (div (add $.WordCount 239) 240.0) }} min. {{ $.WordCount }} words</div>
    {{ end }}
</header>
{{- if (.Param "ShowToc") }}
{{- partial "toc.html" . }}
{{- end }}
<div class="post-content" >
    {{ partial "series.html" . }}
    {{ partial "anchored_headings" .Content }}
    {{ partial "series.html" . }}
</div>
{{ end -}}
